// Color scheme variables
$primary-col1: #2E2E2E;
$text-col1: #131313;
$text-col2: #FFFFFF;
$bg-col4: #D3D3FF;

.msg-inbox-body {
    background-color: darken($primary-col1, 10%);
    max-width: 1920px;
    height: 100vh;
    margin: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.heading {
    color: white;
    text-align: left;
    margin-bottom: 1.2rem;
    margin-left: 0.5em;
}

.inbox-item {
    background-color: $bg-col4;
    color: white;
    border: none;
    border-radius: 8px;
    margin-bottom: 8px;
    padding: 15px;
    transition: background 0.3s ease, transform 0.2s ease;

    h5 {
        margin-bottom: 5px;
        font-size: 1.1em;
        color: $primary-col1;
    }

    p {
        font-size: 0.9rem;
        color: lighten(white, 40%);
    }

    small {
        font-size: 0.9rem;
        color: $text-col1;
    }

    &:hover {
        background-color: darken($bg-col4, 5%);
        transform: scale(1.02);
    }

    &.unread {
        background-color: $primary-col1!important;
        border-left: 4px solid $bg-col4;
    }
}


#main-content {
    background-color: darken($primary-col1, 0%);
    padding: 20px;
    height: 100vh; // Full height to match viewport
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  }


.chat-bot-div {
    display: none!important;
}