/* Color Variables */
$primary-color: rgb(67, 67, 190);
$accent-color: #c98d56;
$text-color: #000000;
$secondary-text-color: #f7f7f7;
$background-color: #faf6f1;
$secondary-background-color: #ffffff;
$third-background-color: #080808;

h2 {
  text-align: center;
  color: $primary-color;
  margin-bottom: 2rem;
  font-size: 2.2rem;
  font-weight: bold;
}

.container {
  max-width: 65%;
  margin: auto;
}

.review-card {
  background-color: $secondary-background-color;
  color: $text-color;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  max-height: 250px!important;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.15);
  }
}

.product-name {
  font-size: 1.5rem;
  color: $accent-color;
  margin-bottom: 0.5rem;
}

.review-rating {
  font-size: 1.7rem;
  color: rgb(255, 196, 0);
}

.review-comment {
  font-size: 1rem;
  margin: 0.8rem 0;
  line-height: 1.4;
  color: $text-color;
}

.review-date {
  font-size: 0.9rem;
  color: $secondary-text-color;
}

.text-warning {
  color: #f7c70f;
}

.text-secondary {
  color: #d3d3d3;
}

p {
  margin-bottom: 1rem;
}


.review-card p {
  margin: 0.5rem 0;
}

.review-card {
  margin: 1.5rem 0;
}

.featured-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.featured-image {
  width: 80%;
  height: 210px;
  border: 2px solid $primary-color;
  border-radius: 5px;
  object-fit: cover;
  object-position: center;
  margin-left: 5.2em;
  margin-top: 0.2em;
}

.no-reviews {
  text-align: center;
  color: $secondary-text-color;
  font-size: 1.2rem;
  margin-top: 2rem;
}

.order-detail {
  transition: background-color 0.3s ease, color 0.3s ease;
  
  &:hover {
    background-color: $primary-color;
    color: $secondary-background-color;
  }
}

.review-actions {
  margin-top: 10%;

  i {
    font-size: 1em;
  }
}