$primary-color: rgb(67, 67, 190);
$accent-color: #c98d56;
$text-color: #000000;
$secondary-text-color: #f7f7f7;
$background-color: #faf6f1;
$secondary-background-color: #ffffff;
$third-background-color: #080808;


.edit_product_container {
    max-width: 800px;
    margin: 2rem auto;
    background-color: $secondary-background-color;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    h1 {
        text-align: center;
        font-size: 2rem;
        color: $primary-color;
        margin-bottom: 1.5rem;
    }

    form {
        .form-group {
            margin-bottom: 1.5rem;

            label {
                font-weight: 600;
                color: $text-color;
            }

            input[type="text"],
            input[type="file"],
            input[type="time"],
            textarea {
                background-color: $secondary-background-color;
                color: $text-color;
                border: 1px solid $primary-color;
                border-radius: 4px;
                padding: 0.5rem;
                font-size: 1rem;
                transition: border-color 0.3s ease;

                &:focus {
                    border-color: $accent-color;
                    box-shadow: 0 0 4px rgba(67, 67, 190, 0.5);
                }
            }

            .form-control {
                &::placeholder {
                    color: grey;
                }
            }

            /* Error messages */
            .errorlist {
                color: $accent-color;
                font-size: 0.9rem;
                margin-top: 0.5rem;
            }
        }

        /* Button styling */
        .btn-success {
            background-color: $primary-color;
            border-color: $primary-color;
            color: $secondary-background-color;
            padding: 0.6rem 1.2rem;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: darken($primary-color, 10%);
                border-color: darken($primary-color, 10%);
            }
        }
    }
}