$primary-color: rgb(67, 67, 190);
$accent-color: #c98d56;
$text-color: #000000;
$secondary-text-color: #f7f7f7;
$background-color: #faf6f1;
$secondary-background-color: #ffffff;
$third-background-color: #080808;


.container {
    max-width: 1400px;
    margin: 20px auto;
    padding: 20px;
    background-color: $secondary-background-color;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    h1 {
        color: $primary-color;
        text-align: center;
        margin-bottom: 30px;
    }

    .table {
        width: 100%;
        border-collapse: collapse;
        background-color: $secondary-background-color;

        th {
            background-color: $primary-color;
            color: $secondary-background-color;
            padding: 15px;
            text-align: left;
            font-weight: normal;
            border-bottom: 3px solid $accent-color;
        }

        td {
            padding: 15px;
            border-bottom: 1px solid $third-background-color;
        }

        tr:nth-child(even) {
            background-color: $background-color;
        }

        tr:hover {
            background-color: $accent-color;
            color: $secondary-background-color;
        }

        td:nth-last-child(2) {
            font-weight: bold;
        }
    }

    p {
        text-align: center;
        color: $text-color;
        font-size: 1.1em;
    }
}



.status-pending {
    background-color: #f1c232;
    color: #ffffff;
}

.status-processing {
    background-color: #6aa84f;
    color: #ffffff;
}

.status-shipped {
    background-color: #3d85c6;
    color: #ffffff;
}

.status-out-for-delivery {
    background-color: #ff9900;
    color: #ffffff;
}

.status-delivered {
    background-color: #4a86e8;
    color: #ffffff;
}

.status-cancelled {
    background-color: #cc0000;
    color: #ffffff;
}

.status-label {
    padding: 5px 7px 5px 10px;
    border-radius: 4px;
}

.update-link {
    background-color: $accent-color;
    color: white;
    margin-left: 0.4em;
    padding: 0.5em 1em;
    border-radius: 7px;
}