// Color scheme variables
$primary-color: rgb(67, 67, 190);
$accent-color: #c98d56;
$text-color: #000000;
$secondary-text-color: #f7f7f7;
$background-color: #faf6f1;
$secondary-background-color: #ffffff;
$third-background-color: #080808;


// Color scheme variables
$primary-col1: #2E2E2E;
$primary-col2: #612718;
$primary-col3: #7F684E;

$accent-col1: #CD7F32;
$accent-col2: #C29B0C;
$accent-col3: #97593F;
$accent-col4: #B29B7B;

$text-col1: #131313;
$text-col2: #FFFFFF;

$bg-col1: #EEDAC3;
$bg-col2: #FAF9F6;
$bg-col3: #9fa6c5;
$bg-col4: #D3D3FF;



h2 {
    text-align: center;
    color: $primary-col1;
    font-size: 50px;
    margin-bottom: 20px;
}

.nav-tabs .nav-link {
    color: white;
    background-color: $primary-col1;
    border: 1px solid $primary-col1;
    border-bottom-color: transparent;
    margin-right: 5px;
    padding: 10px 15px;

    &:hover {
        background-color: darken($primary-col1, 10%);
    }

    &.active {
        color: $primary-col1;
        background-color: white;
        border-color: $primary-col1 $primary-col1 transparent;
    }
}

// "Create New Product" button styling
.btn-primary {
    background-color: $primary-col1;
    border-color: $primary-col1;
    color: white;
    padding: 10px 20px;

    &:hover {
        background-color: darken($primary-col1, 10%);
    }
}

// General product card styling
.product-card {
    background-color: $secondary-background-color;
    border: 1px solid lighten($primary-col1, 30%);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    transition: box-shadow 0.3s ease;

    &:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
}

// Featured image styling
.featured-image-container {
    margin-bottom: 15px;
}

.featured-image {
    width: 100%;
    height: 200px;
    border: 2px solid $primary-col1;
    border-radius: 5px;
    object-fit: cover;
    object-position: center;
}

h3 {
    color: $primary-col1;
    margin-bottom: 20px;
    text-align: center;
}

// Product title and price styling
.product-card h5 {
    font-size: 18px;
    color: $primary-col1;
    margin-bottom: 10px;

    a {
        color: inherit;
        text-decoration: none;

        &:hover {
            color: $accent-col2;
        }
    }
}

.product-card p {
    font-size: 16px;
    color: $text-color;
}

.product-card p.price {
    font-weight: bold;
    color: $accent-col2;
}

// Empty message styling
p.empty-message {
    color: $third-background-color;
    font-style: italic;
    text-align: center;
}

// Ensure the product cards are spaced properly
.container .row {
    margin-top: 20px;
}

.product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    color: $text-color;
    margin-top: 10px;

    .price {
        color: $accent-col2;
    }

    .stock {
        font-weight: normal;
        color: $text-color;
    }
}