// Color scheme variables
$primary-color: rgb(67, 67, 190);
$accent-color: #c98d56;
$text-color: #000000;
$secondary-text-color: #f7f7f7;
$background-color: #faf6f1;
$secondary-background-color: #ffffff;
$third-background-color: #080808;




// Color scheme variables
$primary-col1: #2E2E2E;
$primary-col2: #612718;
$primary-col3: #7F684E;

$accent-col1: #CD7F32;
$accent-col2: #C29B0C;
$accent-col3: #97593F;
$accent-col4: #B29B7B;

$text-col1: #131313;
$text-col1: #FFFFFF;

$bg-col1: #EEDAC3;
$bg-col2: #FAF9F6;
$bg-col3: #9fa6c5;
$bg-col4: #D3D3FF;


body {
    background-color: lighten($bg-col1, 7%);
}


.edit_product_container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px;
    background-color: darken($primary-col1, 15%);
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.15);

    h1 {
        color: $accent-col2;
        font-size: 28px;
        text-align: center;
        margin-bottom: 20px;
    }

    .form-group {
        margin-bottom: 20px;
        color: white;

        label {
            color: $accent-col2;
            display: block;
            margin-bottom: 5px;
        }

        input,
        select,
        textarea {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 6px;
            background-color: $background-color;
            color: $text-color;
        }

        .text-danger {
            color: $accent-color;
            font-size: 14px;
            margin-top: 5px;
        }
    }


    .btn {
        padding: 12px 20px;
        font-size: 16px;
        border: none;
        border-radius: 6px;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s;

        &.btn-save {
            background-color: $accent-col2;
            color: $primary-col1;

            &:hover {
                background-color: darken($accent-col2, 10%);
            }
        }

        &.btn-cancel {
            background-color: $accent-color;
            color: $primary-col1;

            &:hover {
                background-color: darken($accent-color, 10%);
            }
        }
    }
}

.messages {
    margin-bottom: 20px;

    .alert {
        padding: 10px;
        border-radius: 5px;

        &.alert-success {
            background-color: lighten($primary-color, 30%);
            color: $primary-color;
        }

        &.alert-danger,
        &.alert-error {
            background-color: lighten($accent-color, 30%);
            color: $accent-color;
        }
    }
}



.color-selection {
    background-color: $background-color;
    padding: 1.5em;
    max-width: 300px;
}


.color-circles {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.color-circle {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.color-indicator {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: var(--dynamic-color);
    border-radius: 50%;
    border: 2px solid transparent;
    transition: border 0.3s ease;
}

/* Style for selected color (outline) */
input[type="checkbox"]:checked+.color-indicator {
    border: 2px solid #11656b;
    /* Outline color for selected circles */
}

.color-circle input[type="checkbox"] {
    display: none;
}







.material-whole {
    background-color: $background-color;
    max-width: 100%;
    height: 93%;

    label {
        color: $primary-col1 !important;
        font-weight: bold;
    }
}

.material-selection {
    max-width: 100%;
    padding: 1.5em;
}

.material-boxes {
    display: flex;
    flex-wrap: wrap;
    /* Allows the boxes to wrap onto the next line */
    gap: 10px;
    /* Space between the boxes */
}

.material-box {
    display: inline-flex;
    /* Allows the content to size according to the material name */
    align-items: center;
    /* Vertically centers the text inside the box */
    padding: 10px;
    border: 2px solid #ccc;
    cursor: pointer;
    border-radius: 5px;
    background-color: white;
}

.material-box input[type="checkbox"] {
    display: none;
    /* Hide the default checkbox */
}


/* Styling for when a material is selected */
.material-box input[type="checkbox"]:checked+.material-label {
    color: #007bff;
    padding: 0px;
}