.container-fluid {
  padding-left: 2em;
  padding-right: 2em;
}

body {
  background-color: white;
}

.navbar {
  background: #FAF9F6;
  z-index: 99 !important;
}
.navbar .navbar-brand {
  color: #2E2E2E;
}
.navbar .navbar-nav .nav-link {
  color: #363636;
  font-size: 1.05em;
  padding: 10px 10px;
}
.navbar .navbar-nav .nav-link:hover {
  color: #C29B0C;
}
.navbar .navbar-nav .nav-link.active {
  color: #C29B0C;
}

/* Hero Section */
.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(circle, #e5e7ef, #9fa6c5);
  padding: 50px;
  height: 70vh;
  position: relative;
}
.hero-section .hero-content {
  margin-left: -1em;
  color: #2E2E2E;
  text-align: left;
}
.hero-section .hero-content h5 {
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.hero-section .hero-content h1 {
  font-size: 70px;
  line-height: 1.2;
  margin-bottom: 20px;
}
.hero-section .hero-content p {
  font-size: 25px;
  margin-bottom: 20px;
}
.hero-section .hero-content p span {
  color: #cca30d;
}
.hero-section .hero-content .buynow-btn {
  padding: 12px 30px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 0%;
  background-color: #2E2E2E;
  color: #C29B0C;
  border-radius: 40px;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}
.hero-section .hero-content .buynow-btn:hover {
  background-color: #C29B0C;
  color: #2E2E2E;
}
.hero-section .hero-images {
  margin-left: 3em;
  position: relative;
  display: inline-block;
  width: -moz-fit-content;
  width: fit-content;
}
.hero-section .hero-images .image-wrapper {
  position: relative;
  display: inline-block;
}
.hero-section .hero-images .image-wrapper .image1 {
  margin-top: 10em;
  display: block;
  width: 600px;
  height: 650px;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.hero-section .hero-images .image-wrapper .image2 {
  display: block;
  width: 350px;
  height: 325px;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.hero-section .hero-images .image-wrapper.overlay {
  position: absolute;
  top: 22rem;
  left: -6.5rem;
}

.feature-section {
  margin-top: 10em;
}
.feature-section .container {
  max-width: 1500px;
}
.feature-section i {
  font-size: 2.5em;
  color: #C29B0C;
}
.feature-section h4 {
  color: #2E2E2E;
}
.feature-section p {
  color: #000000;
}

.category-section {
  padding: 5em 0;
  background-color: #f1eee6;
}
.category-section h2 {
  color: #2E2E2E;
  font-size: 4.5em;
}
.category-section p {
  color: #616161;
  font-size: 1.1em;
}
.category-section .img-container {
  width: 100%;
  height: 400px;
  cursor: pointer;
  overflow: hidden;
}
.category-section .img-container:hover .img-content-hover {
  display: block;
}
.category-section img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}
.category-section img:hover {
  transform: scale(1.05);
}
.category-section .img-content-hover {
  text-align: left;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  padding: 1rem;
  background: white;
  font-weight: 400;
  max-width: 25% !important;
  background-color: rgba(255, 255, 255, 0.9);
  /* Fix for text overflow */
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.category-section .title {
  color: #612718;
  font-size: 1.5rem;
  font-weight: 700;
}
.category-section .category {
  font-size: 1rem;
  color: gray;
}
.category-section .img-content {
  display: none;
}
@media screen and (max-width: 1024px) {
  .category-section img:hover {
    transform: none;
  }
  .category-section .img-container {
    height: 100%;
  }
  .category-section .img-container:hover .img-content-hover {
    display: none;
  }
  .category-section .img-content {
    display: block;
    padding: 1rem 0;
  }
}

.top_products-section,
.latest_products-section {
  margin-top: 8em;
}
.top_products-section .container,
.latest_products-section .container {
  min-width: 1400px !important;
}
.top_products-section .content,
.latest_products-section .content {
  width: 1000px;
}
.top_products-section .content h1,
.latest_products-section .content h1 {
  margin-bottom: 0.3em;
  font-size: 3.5em;
  color: #2E2E2E;
}
.top_products-section .product-card,
.latest_products-section .product-card {
  position: relative;
  margin-top: 3em;
}
.top_products-section .product-card .featured-image-container,
.latest_products-section .product-card .featured-image-container {
  margin-bottom: 15px;
}
.top_products-section .product-card .featured-image-container .featured-image,
.latest_products-section .product-card .featured-image-container .featured-image {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.top_products-section .product-card h5,
.latest_products-section .product-card h5 {
  font-size: 18px;
  color: #2E2E2E;
  margin-bottom: 10px;
}
.top_products-section .product-card h5 a,
.latest_products-section .product-card h5 a {
  color: inherit;
  text-decoration: none;
}
.top_products-section .product-card h5 a:hover,
.latest_products-section .product-card h5 a:hover {
  color: #612718;
}
.top_products-section .product-card p,
.latest_products-section .product-card p {
  font-size: 16px;
  color: #C29B0C;
  margin-bottom: 0.3em;
}
.top_products-section .product-card p.price,
.latest_products-section .product-card p.price {
  font-weight: bold;
  color: #D4AF37;
}
.top_products-section .product-card p.empty-message,
.latest_products-section .product-card p.empty-message {
  color: #161616;
  font-style: italic;
  text-align: center;
}
.top_products-section .product-card .product-info,
.latest_products-section .product-card .product-info {
  font-size: 16px;
  color: #000000;
  margin-top: 10px;
}
.top_products-section .product-card .product-info .price,
.latest_products-section .product-card .product-info .price {
  color: #D4AF37;
}
.top_products-section .product-card .product-info .stock,
.latest_products-section .product-card .product-info .stock {
  font-weight: normal;
  color: #000000;
}
.top_products-section .product-card .wishlist-btn,
.latest_products-section .product-card .wishlist-btn {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 1.4em;
  color: white;
  background-color: #2E2E2E;
  border-radius: 0;
  padding: 0.2em 0.2em 0.5em 0.2em;
}
.top_products-section .product-card .sale,
.latest_products-section .product-card .sale {
  position: absolute;
  top: 18px;
  left: 20px;
  font-size: 1em;
  color: white;
  background-color: #2E2E2E;
  padding: 0.4em 0.8em 0.5em 0.8em;
  border-radius: 20px;
}

.latest_products-section {
  margin-top: 2em;
}

.complimentary-section {
  margin-top: 8em;
  position: relative;
  background-image: url("../images/compliment.jpg");
  background-size: cover;
  background-position: center;
  height: 520px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}
.complimentary-section .complimentary-content {
  z-index: 99 !important;
  width: 900px;
  background-color: white;
  padding: 20px 40px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.complimentary-section .complimentary-content h1 {
  font-size: 45px;
  color: #2E2E2E;
  margin-bottom: 10px;
}
.complimentary-section .complimentary-content p {
  font-size: 18px;
  color: #2E2E2E;
  margin-bottom: 20px;
}
.complimentary-section .complimentary-btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #ffffff;
  background-color: #2E2E2E;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
}
.complimentary-section .complimentary-btn:hover {
  background-color: #D3D3FF;
}

.testimonial-section {
  margin-top: 10em;
}
.testimonial-section .testimonial-img-sec .container {
  padding: 0;
}
.testimonial-section .testimonial-img-sec .slider {
  width: 100%;
}
.testimonial-section .testimonial-img-sec .slider input {
  display: none;
}
.testimonial-section .testimonial-img-sec .img-1,
.testimonial-section .testimonial-img-sec .img-2,
.testimonial-section .testimonial-img-sec .img-3,
.testimonial-section .testimonial-img-sec .img-4,
.testimonial-section .testimonial-img-sec .img-5 {
  width: 160px;
  height: 360px;
  background-size: cover;
  background-position: center;
}
.testimonial-section .testimonial-img-sec .img-1 {
  background-image: url("../images/woman1.jpg");
}
.testimonial-section .testimonial-img-sec .img-2 {
  background-image: url("../images/man1.jpg");
}
.testimonial-section .testimonial-img-sec .img-3 {
  background-image: url("../images/woman2.jpg");
}
.testimonial-section .testimonial-img-sec .img-4 {
  background-image: url("../images/man2.jpg");
}
.testimonial-section .testimonial-img-sec .img-5 {
  background-image: url("../images/woman3.jpg");
}
.testimonial-section .testimonial-img-sec .testimonials {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 450px;
  perspective: 400px;
  overflow: hidden;
}
.testimonial-section .testimonial-img-sec .testimonials .item {
  width: 300px;
  padding: 30px;
  border-radius: 5px;
  background-color: #252525;
  position: absolute;
  top: 0;
  box-sizing: border-box;
  text-align: center;
  transition: transform 0.4s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.testimonial-section .testimonial-img-sec .testimonials .item img {
  width: 110px;
  height: 110px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: 10px solid #D4AF37;
  margin-bottom: 1em;
}
.testimonial-section .testimonial-img-sec .testimonials .item p {
  color: #f8f4f4;
}
.testimonial-section .testimonial-img-sec .testimonials .item h2 {
  font-size: 14px;
  color: #D4AF37;
  font-style: italic;
}
.testimonial-section .testimonial-img-sec #t-1:checked ~ .dots label[for=t-1],
.testimonial-section .testimonial-img-sec #t-2:checked ~ .dots label[for=t-2],
.testimonial-section .testimonial-img-sec #t-3:checked ~ .dots label[for=t-3],
.testimonial-section .testimonial-img-sec #t-4:checked ~ .dots label[for=t-4],
.testimonial-section .testimonial-img-sec #t-5:checked ~ .dots label[for=t-5] {
  transform: scale(2);
  background-color: #D4AF37;
}
.testimonial-section .testimonial-img-sec #t-1:checked ~ .dots label[for=t-2],
.testimonial-section .testimonial-img-sec #t-2:checked ~ .dots label[for=t-1],
.testimonial-section .testimonial-img-sec #t-2:checked ~ .dots label[for=t-3],
.testimonial-section .testimonial-img-sec #t-3:checked ~ .dots label[for=t-2],
.testimonial-section .testimonial-img-sec #t-3:checked ~ .dots label[for=t-4],
.testimonial-section .testimonial-img-sec #t-4:checked ~ .dots label[for=t-3],
.testimonial-section .testimonial-img-sec #t-4:checked ~ .dots label[for=t-5],
.testimonial-section .testimonial-img-sec #t-5:checked ~ .dots label[for=t-4] {
  transform: scale(1.5);
}
.testimonial-section .testimonial-img-sec #t-1:checked ~ .testimonials label[for=t-5] {
  transform: translate3d(1200px, 0, -360px) rotateY(-45deg);
}
.testimonial-section .testimonial-img-sec #t-1:checked ~ .testimonials label[for=t-4],
.testimonial-section .testimonial-img-sec #t-2:checked ~ .testimonials label[for=t-5] {
  transform: translate3d(900px, 0, -270px) rotateY(-35deg);
  z-index: 1;
}
.testimonial-section .testimonial-img-sec #t-1:checked ~ .testimonials label[for=t-3],
.testimonial-section .testimonial-img-sec #t-2:checked ~ .testimonials label[for=t-4],
.testimonial-section .testimonial-img-sec #t-3:checked ~ .testimonials label[for=t-5] {
  transform: translate3d(600px, 0, -180px) rotateY(-25deg);
  z-index: 2;
}
.testimonial-section .testimonial-img-sec #t-1:checked ~ .testimonials label[for=t-2],
.testimonial-section .testimonial-img-sec #t-2:checked ~ .testimonials label[for=t-3],
.testimonial-section .testimonial-img-sec #t-3:checked ~ .testimonials label[for=t-4],
.testimonial-section .testimonial-img-sec #t-4:checked ~ .testimonials label[for=t-5] {
  transform: translate3d(300px, 0, -90px) rotateY(-15deg);
  z-index: 3;
}
.testimonial-section .testimonial-img-sec #t-2:checked ~ .testimonials label[for=t-1],
.testimonial-section .testimonial-img-sec #t-3:checked ~ .testimonials label[for=t-2],
.testimonial-section .testimonial-img-sec #t-4:checked ~ .testimonials label[for=t-3],
.testimonial-section .testimonial-img-sec #t-5:checked ~ .testimonials label[for=t-4] {
  transform: translate3d(-300px, 0, -90px) rotateY(15deg);
  z-index: 3;
}
.testimonial-section .testimonial-img-sec #t-3:checked ~ .testimonials label[for=t-1],
.testimonial-section .testimonial-img-sec #t-4:checked ~ .testimonials label[for=t-2],
.testimonial-section .testimonial-img-sec #t-5:checked ~ .testimonials label[for=t-3] {
  transform: translate3d(-600px, 0, -180px) rotateY(25deg);
}
.testimonial-section .testimonial-img-sec #t-5:checked ~ .testimonials label[for=t-2],
.testimonial-section .testimonial-img-sec #t-4:checked ~ .testimonials label[for=t-1] {
  transform: translate3d(-900px, 0, -270px) rotateY(35deg);
}
.testimonial-section .testimonial-img-sec #t-5:checked ~ .testimonials label[for=t-1] {
  transform: translate3d(-1200px, 0, -360px) rotateY(45deg);
}
.testimonial-section .testimonial-img-sec #t-1:checked ~ .testimonials label[for=t-1],
.testimonial-section .testimonial-img-sec #t-2:checked ~ .testimonials label[for=t-2],
.testimonial-section .testimonial-img-sec #t-3:checked ~ .testimonials label[for=t-3],
.testimonial-section .testimonial-img-sec #t-4:checked ~ .testimonials label[for=t-4],
.testimonial-section .testimonial-img-sec #t-5:checked ~ .testimonials label[for=t-4],
.testimonial-section .testimonial-img-sec #t-5:checked ~ .testimonials label[for=t-5] {
  z-index: 4;
}
.testimonial-section .testimonial-content-sec {
  background: radial-gradient(circle, #c5c9dc, #9fa6c5);
  color: white;
  padding: 2em 10em 5em 3em;
  height: 360px;
}
.testimonial-section .testimonial-content-sec i {
  font-size: 3.5em;
}
.testimonial-section .testimonial-content-sec p {
  margin-top: 1em;
  font-style: italic;
}

.about-section {
  margin-top: 7em;
  z-index: 199;
}
.about-section .row {
  margin: 0;
}
.about-section img {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}
.about-section .content-div {
  width: 700px;
}
.about-section .content {
  background: radial-gradient(circle, #c5c9dc, #9fa6c5);
  height: 500px;
  color: white;
}
.about-section .text-white {
  color: #ffffff;
}
.about-section .btn-div {
  width: 300px;
}
.about-section .buynow-btn {
  padding: 12px 30px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 0%;
  border: 1px solid white;
  color: white;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}
.about-section .buynow-btn:hover {
  background-color: white;
  color: #D3D3FF;
}

.partner-section {
  margin-top: 3em;
}
.partner-section .slick-slide {
  margin: 0px 20px;
}
.partner-section .slick-slide img {
  width: 100%;
}
.partner-section i {
  font-size: 1.5em;
  font-style: normal !important;
}
.partner-section .slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.partner-section .slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.partner-section .slick-list:focus {
  outline: none;
}
.partner-section .slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.partner-section .slick-slider .slick-track,
.partner-section .slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}
.partner-section .slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.partner-section .slick-track:before,
.partner-section .slick-track:after {
  display: table;
  content: "";
}
.partner-section .slick-track:after {
  clear: both;
}
.partner-section .slick-loading .slick-track {
  visibility: hidden;
}
.partner-section .slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
.partner-section [dir=rtl] .slick-slide {
  float: right;
}
.partner-section .slick-slide img {
  display: block;
}
.partner-section .slick-slide.slick-loading img {
  display: none;
}
.partner-section .slick-slide.dragging img {
  pointer-events: none;
}
.partner-section .slick-initialized .slick-slide {
  display: block;
}
.partner-section .slick-loading .slick-slide {
  visibility: hidden;
}
.partner-section .slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.partner-section .slick-arrow.slick-hidden {
  display: none;
}

.footer-section {
  margin-top: 3em;
  background: #2E2E2E;
  position: relative;
}
.footer-section ul {
  margin: 0px;
  padding: 0px;
}
.footer-section .footer-cta {
  border-bottom: 1px solid #373636;
}
.footer-section .single-cta i {
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.footer-section .cta-text {
  padding-left: 15px;
  display: inline-block;
}
.footer-section .cta-text h4 {
  color: #C29B0C;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.footer-section .cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-section .footer-content {
  position: relative;
  z-index: 2;
}
.footer-section .footer-logo {
  margin-bottom: 30px;
}
.footer-section .footer-logo img {
  max-width: 200px;
}
.footer-section .footer-logo h3 {
  color: #D3D3FF;
  font-weight: bold;
}
.footer-section .footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #7e7e7e;
  line-height: 28px;
}
.footer-section .footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}
.footer-section .footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-section .footer-social-icon i {
  font-size: 1.3em;
  color: #D3D3FF;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.footer-section .footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-section .footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #C29B0C;
}
.footer-section .footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-section .footer-widget ul li a:hover {
  color: #C29B0C;
}
.footer-section .footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.footer-section .subscribe-form {
  position: relative;
  overflow: hidden;
}
.footer-section .subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #202020;
  border: 1px solid #202020;
  color: #fff;
}
.footer-section .subscribe-form button {
  position: absolute;
  right: 0;
  background: #C29B0C;
  padding: 13px 20px;
  border: 1px solid #C29B0C;
  top: 0;
}
.footer-section .subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.footer-section .copyright-area {
  background: #202020;
  padding: 25px 0;
}
.footer-section .copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.footer-section .footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-section .footer-menu li:hover a {
  color: #C29B0C;
}
.footer-section .footer-menu li a {
  font-size: 14px;
  color: #878787;
}