$primary-color: rgb(67, 67, 190);
$accent-color: #c98d56;
$text-color: #000000;
$secondary-text-color: #f7f7f7;
$background-color: #faf6f1;
$secondary-background-color: #ffffff;
$third-background-color: #080808;


// Color scheme variables
$primary-col1: #2E2E2E;
$primary-col2: #612718;
$primary-col3: #7F684E;

$accent-col1: #CD7F32;
$accent-col2: #C29B0C;
$accent-col3: #97593F;
$accent-col4: #B29B7B;

$text-col1: #131313;
$text-col1: #FFFFFF;

$bg-col1: #EEDAC3;
$bg-col2: #FAF9F6;
$bg-col3: #9fa6c5;
$bg-col4: #D3D3FF;



body {
    background-color: lighten($bg-col1, 7%);
}


.edit_store_container {
    max-width: 1000px;
    margin: auto;
    background-color: darken($primary-col1, 10%);
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    h1 {
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
        color: $accent-col2;
        margin-bottom: 1.5rem;
    }

    form {
        .form-group {
            margin-bottom: 1.5rem;
            color: white;

            label {
                color: $accent-col2;
            }

            input[type="text"],
            input[type="file"],
            input[type="time"],
            textarea {
                background-color: $secondary-background-color;
                color: $text-color;
                border-radius: 4px;
                padding: 0.5rem;
                font-size: 1rem;
                transition: border-color 0.3s ease;

                &:focus {
                    border-color: $accent-color;
                    box-shadow: 0 0 4px rgba(67, 67, 190, 0.5);
                }
            }

            .form-control {
                &::placeholder {
                    color: grey;
                }
            }

            /* Error messages */
            .errorlist {
                color: $accent-color;
                font-size: 0.9rem;
                margin-top: 0.5rem;
            }
        }

        /* Button styling */
        .btn-update {
            background-color: $accent-col2;
            color: darken($primary-col1, 5%);
            font-weight: bold;
        
            &:hover {
                background-color: $accent-col2;
                color: darken($primary-col1, 5%);
            }
        }
    }
}