// Colors
$primary-color: rgb(67, 67, 190);
$accent-color: #c98d56;
$text-color: #000000;
$secondary-text-color: #f7f7f7;
$bg-color: #faf6f1;
$secondary-bg-color: #080808;

// Color scheme variables
$primary-col1: #2E2E2E;
$primary-col2: #612718;
$primary-col3: #7F684E;

$accent-col1: #CD7F32;
$accent-col2: #C29B0C;
$accent-col3: #97593F;
$accent-col4: #B29B7B;

$text-col1: #131313;
$text-col1: #FFFFFF;

$bg-col1: #EEDAC3;
$bg-col2: #FAF9F6;
$bg-col3: #9fa6c5;
$bg-col4: #D3D3FF;








.login-page {
    background-color: lighten($bg-col1, 7%);
    height: 100%;
    width: 100%;

    h2 {
        font-size: 2.5em;
        font-weight: bold;
    }

    .card {
        background-color: $bg-col4;
        border-radius: 10px;
        color: $primary-col1;
        padding: 3em 1.5em 0 1.5em;
        height: 600px;
        border: 5px solid $accent-col2;
    }

    .btn-google,
    .btn-facebook {
        margin-top: 5em;
        margin-bottom: 0.8em;
        margin-right: 5px;
        border: 1px solid $primary-col1;
        background-color: $primary-col1;
        color: $accent-col2;

        &:hover {
            background-color: $accent-col2;
            color: $primary-col1;
        }
    }

    .btn-login {
        margin-right: 5px;
        border: 1px solid $primary-col1;
        background-color: $primary-col1;
        color: white;

        &:hover {
            background-color: white;
            color: $primary-col1;
        }
    }

    .register-div {
        padding-top: 3.5em;

        .register-link {
            color: $primary-col1;
        }
    }
}