// Set color scheme variables
$primary-color: rgb(67, 67, 190);
$accent-color: #c98d56;
$text-color: #000000;
$secondary-text-color: #f7f7f7;
$background-color: #faf6f1;
$secondary-background-color: #ffffff;

// Color scheme variables
$primary-col1: #2E2E2E;
$primary-col2: #612718;
$primary-col3: #7F684E;

$accent-col1: #CD7F32;
$accent-col2: #C29B0C;
$accent-col3: #97593F;
$accent-col4: #B29B7B;

$text-col1: #131313;
$text-col1: #FFFFFF;

$bg-col1: #EEDAC3;
$bg-col2: #FAF9F6;
$bg-col3: #9fa6c5;
$bg-col4: #D3D3FF;




.container-fluid {
  padding: 0;
}

.row {
  height: 93.6vh; // Full height of the viewport
}

.navbar {
  background-color: $background-color;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  .navbar-brand {
    color: $primary-col1;
    font-weight: bold;
    font-size: 1.5rem;
    transition: color 0.3s;
    padding-left: 1em;

    &:hover {
      color: $primary-col1;
    }
  }
}


.bi-bell-fill {
  color: $accent-col2;
  font-size: 1.3rem;
  transition: color 0.3s;

  &:hover {
    color: $accent-col2;
  }
}

.sidebar {
  background-color: darken($primary-col1, 10%);
  padding: 20px;
  height: 100%; // Full height for the sidebar
  border-right: 1px solid $primary-color;
  overflow-y: auto;

  .nav-link {
    padding: 10px;
    font-size: 1.05em;
    color: white;
    border-bottom: 1px solid white;

    &:hover {
      background-color: $accent-col2;
      color: $secondary-text-color;

      i {
        color: white;
      }
    }
  }

  .profile_heading {
    margin-top: 1em;
    color: white;
    font-size: 2.2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
  }

  i {
    color: $accent-col2;
    font-size: 1.4em;
    margin-right: 0.5em;
  }
}

#main-content {
  background-color: lighten($bg-col1, 7%);
  padding: 20px;
  overflow-y: auto; // Add scroll if content overflows
  height: 93.4vh; // Full height to match viewport
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}