/* Color Variables */
$primary-color: rgb(67, 67, 190);
$text-color: #000000;
$background-color: #faf6f1;
$secondary-background-color: #ffffff;
$accent-color: #c98d56;


// Color scheme variables
$primary-col1: #2E2E2E;
$primary-col2: #612718;
$primary-col3: #7F684E;

$accent-col1: #CD7F32;
$accent-col2: #C29B0C;
$accent-col3: #97593F;
$accent-col4: #B29B7B;

$text-col1: #131313;
$text-col2: #FFFFFF;

$bg-col1: #EEDAC3;
$bg-col2: #FAF9F6;
$bg-col3: #9fa6c5;
$bg-col4: #D3D3FF;




body {
    background-color: lighten($bg-col1, 7%);
}

/* Container */
.container {
    max-width: 600px;
    margin: auto;
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Headings */
h2 {
    color: $primary-col1;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Paragraph */
p {
    color: $primary-col1;
    font-size: 1.1rem;
    margin-bottom: 30px;
}

/* Button */
.btn-primary {
    background-color: $primary-col1;
    border: none;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 6px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: lighten($primary-col1, 10%);
}

