$primary-color: rgb(67, 67, 190);
$accent-color: #c98d56;
$text-color: #000000;
$secondary-text-color: #f7f7f7;
$background-color: #faf6f1;
$secondary-background-color: #ffffff;
$third-background-color: #080808;


// Color scheme variables
$primary-col1: #2E2E2E;
$primary-col2: #612718;
$primary-col3: #7F684E;

$accent-col1: #CD7F32;
$accent-col2: #C29B0C;
$accent-col3: #97593F;
$accent-col4: #B29B7B;

$text-col1: #131313;
$text-col2: #FFFFFF;

$bg-col1: #EEDAC3;
$bg-col2: #FAF9F6;
$bg-col3: #9fa6c5;
$bg-col4: #D3D3FF;


body {
    background-color: lighten($bg-col1, 7%);
}


.container {
    max-width: 1400px;
    margin: 20px auto;
    padding: 20px;

    h1 {
        color: $primary-col1;
        text-align: center;
        margin-bottom: 30px;
    }

    .table {
        width: 100%;
        border-collapse: collapse;
        background-color: $secondary-background-color;

        th {
            background-color: $primary-col1;
            color: $secondary-background-color;
            padding: 15px;
            text-align: left;
            font-weight: normal;
            border-bottom: 3px solid $accent-col2;
        }

        td {
            padding: 15px;
            border-bottom: 1px solid $primary-col1;
        }

        tr:nth-child(even) {
            background-color: $background-color;
        }

        tr:hover {
            background-color: $accent-color;
            color: $secondary-background-color;
        }

        td:nth-last-child(2) {
            font-weight: bold;
        }
    }

    p {
        text-align: center;
        color: $text-color;
        font-size: 1.1em;
    }
}



.status-pending {
    background-color: #f1c232;
    color: #ffffff;
}

.status-processing {
    background-color: #6aa84f;
    color: #ffffff;
}

.status-shipped {
    background-color: #3d85c6;
    color: #ffffff;
}

.status-out-for-delivery {
    background-color: #ff9900;
    color: #ffffff;
}

.status-delivered {
    background-color: #4a86e8;
    color: #ffffff;
}

.status-cancelled {
    background-color: #cc0000;
    color: #ffffff;
}

.status-label {
    padding: 5px 7px 5px 10px;
    border-radius: 4px;
}

.update-link {
    background-color: $primary-col1;
    color: white;
    margin-left: 0.4em;
    padding: 0.5em 1em;
    border-radius: 7px;
}

.price {
    color: lighten($accent-col2, 4%)!important;
}




// Define primary color
$primary-col1: #2E2E2E;

.modal-content {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border: none;
}

.modal-header {
    background-color: $primary-col1;
    color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 16px;


    .btn-close {
        filter: invert(1); // Ensures visibility on dark background
    }
}

.modal-body {
    padding: 20px;
}

.form-group {
    margin-bottom: 15px;

    label {
        font-weight: 500;
        color: $primary-col1;
    }

    select {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 14px;
        background-color: #f9f9f9;
        color: $primary-col1;

        &:focus {
            border-color: $primary-col1;
            outline: none;
            box-shadow: 0px 0px 5px rgba(46, 46, 46, 0.2);
        }
    }
}

.btn-primary {
    background-color: $primary-col1;
    border-color: $primary-col1;
    padding: 10px 20px;
    font-weight: 500;
    border-radius: 4px;

    &:hover {
        background-color: darken($primary-col1, 10%);
        border-color: darken($primary-col1, 10%);
    }
}
