// Color scheme variables
$primary-col1: #2E2E2E;
$primary-col2: #612718;
$primary-col3: #7F684E;

$accent-col1: #CD7F32;
$accent-col2: #C29B0C;
$accent-col3: #97593F;
$accent-col4: #B29B7B;

$text-col1: #131313;
$text-col2: #FFFFFF;

$bg-col1: #EEDAC3;
$bg-col2: #FAF9F6;
$bg-col3: #9fa6c5;
$bg-col4: #D3D3FF;




.container {
    max-width: 1200px;
    color: #555555;
}

.cart-header {
    padding-bottom: 12px;
    margin-bottom: 20px;
}

.cart-table-container {
    padding: 0;
}

.cart-table {
    border-width: 1px 1px 0 1px; 
    border-style: solid; 
    border-color: rgb(209, 209, 209);
    background-color: white;
    width: 100%;
    border-collapse: collapse;

    th, td {
        padding: 12px;
    }

    th {
        background-color: lighten($bg-col3, 25%);
        color: $text-col1;
    }

    td {
        border-bottom: 1px solid rgb(209, 209, 209);
    }
}

.product-info {
    img {
        width: 100px;
        height: 80px;
        object-fit: cover;
    }

    a {
        color: #555555;
    }
}

.btn-buy {
    color: $text-col2;
    background-color: $accent-col2;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    &:hover {
        background-color: darken($accent-col2, 10%);
    }
}

.btn-cross {
    padding: 1px 4px 0 4px;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 50%;
    color: rgb(153, 152, 152);
    font-size: 15px;

    &:hover {
        color: rgb(153, 152, 152);
        border: 1px solid rgb(209, 209, 209);
    }
}

.cart-summary {
    padding: 0 20px 20px 20px;


    .cart-div {
        background: white;
        padding: 0;
        width: 300px;
        max-height: 300px;
        border: 1px solid rgb(209, 209, 209);
    }

    .head-div {
        background-color: lighten($bg-col3, 25%);
        padding: 40px auto;
    }

    h5 {
        padding: 13px;
        font-weight: bold;
        color: $primary-col1;
    }

    p {
        padding: 13px;
        font-size: 18px;
        border-bottom: 1px solid rgb(209, 209, 209);
    }

    .btn-danger {
        margin: 13px;
    }
}

@media (max-width: 768px) {
    .cart-table-container, .cart-summary {
        margin-bottom: 20px;
    }
    
    .product-info {
        flex-direction: column;
    }
}
