h2 {
  text-align: center;
  color: #2E2E2E;
  font-size: 50px;
  margin-bottom: 20px;
}

.nav-tabs .nav-link {
  color: white;
  background-color: #2E2E2E;
  border: 1px solid #2E2E2E;
  border-bottom-color: transparent;
  margin-right: 5px;
  padding: 10px 15px;
}
.nav-tabs .nav-link:hover {
  background-color: #151515;
}
.nav-tabs .nav-link.active {
  color: #2E2E2E;
  background-color: white;
  border-color: #2E2E2E #2E2E2E transparent;
}

.btn-primary {
  background-color: #2E2E2E;
  border-color: #2E2E2E;
  color: white;
  padding: 10px 20px;
}
.btn-primary:hover {
  background-color: #151515;
}

.product-card {
  background-color: #ffffff;
  border: 1px solid #7b7b7b;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  transition: box-shadow 0.3s ease;
}
.product-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.featured-image-container {
  margin-bottom: 15px;
}

.featured-image {
  width: 100%;
  height: 200px;
  border: 2px solid #2E2E2E;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

h3 {
  color: #2E2E2E;
  margin-bottom: 20px;
  text-align: center;
}

.product-card h5 {
  font-size: 18px;
  color: #2E2E2E;
  margin-bottom: 10px;
}
.product-card h5 a {
  color: inherit;
  text-decoration: none;
}
.product-card h5 a:hover {
  color: #C29B0C;
}

.product-card p {
  font-size: 16px;
  color: #000000;
}

.product-card p.price {
  font-weight: bold;
  color: #C29B0C;
}

p.empty-message {
  color: #080808;
  font-style: italic;
  text-align: center;
}

.container .row {
  margin-top: 20px;
}

.product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  color: #000000;
  margin-top: 10px;
}
.product-info .price {
  color: #C29B0C;
}
.product-info .stock {
  font-weight: normal;
  color: #000000;
}